h1{
    color: deeppink;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(53, 20, 20);
    backface-visibility: inherit;
}
p{
    color: magenta;
}
h2{
    color: palevioletred;
}
ul{
    color: orangered;
}